/* .row .prova{
    background-color: red;
    height: 200px;
    border: 1px solid black;
    text-align: center;
} */

.bg-nav{
    background-color: #2c3e50;
    height: 100px;
}

.row h2{
    color: #ffffff;
    font-weight: bold;
}

.row ul li a{
    color: #ffffff;
    line-height: 60px;
    font-size: 22px;
    font-weight: bold;
}

.bg-header, .bg-main-about{
    height: 500px;
    background-color: #1abc9c;
}

.banner{
    text-align: center;
    padding: 30px;
    /* background-color: blue;
    height: 500px; */
}

.banner div img{
    width: 250px;
}

.banner .avatar h1{
    color: white;
    font-size: 52px;
    font-weight: bold;
}

/* .banner .avatar .icon{
    height: 50px;
    background-color: red;
} */

.banner .avatar .icon hr{
    display: inline-block;
    width: 70px;
    border: 2px solid white;
    border-radius: 8px;
}

.banner .avatar .icon i{
    color: white;
    font-size: 35px;
    width: 60px;
    line-height: 50px;
    display: inline-block;
}

.banner .avatar h3{
    color: white;
    display: inline-block;
}

.bg-main-portfolio, .bg-main-contact{
    height: 500px;
    background-color: #ffffff;
    border: 1px solid black;
}

.container{
    background-color: red;
    height: 500px;
}

/* .col-lg-4, .col-lg-8{
    background-color: green;
    height: 200px;
    border: 1px solid black;
} */

.row .logo img{
    width: 100%;
}

.row .titolo-portfolio{
    text-align: center;
    padding: 50px 0 30px 0;
}

.row [class^="col-"]{
    padding: 20px;
}

.row .titolo-portfolio h2{
    color: #2c3e50;
    font-size: 42px;
}

.row .titolo-portfolio .icon hr{
    display: inline-block;
    width: 70px;
    border: 2px solid #2c3e50;
    border-radius: 8px;
}

.row .titolo-portfolio .icon i{
    color: #2c3e50;
    font-size: 35px;
    width: 60px;
    line-height: 50px;
    display: inline-block;
}

.bg-footer-top{
    background-color: #2c3e50;
    height: 300px;
}

.bg-footer-bottom{
    height: 100px;
    background-color: #1a252f;
}
